*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

h1 {
    margin: 10px 0;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.list li {
    display: flex;
    flex-direction: column;
}